<div class="container">


<div class="content">
  <a href="/submit">Submit Story</a>
  <!-- content goes here -->
  <ol><% @submissions.each do |submission| %>
    <li><a href="/submissions/<%= submission.id %>"><%= submission.title %></a></li>
    <% end %>
  </ol>
</div>


</div>
