<div class="container">
<form action="/submit" method="post">
  <input type="text" name="title" placeholder="Title"><br>
  <input type="text" name="url" placeholder="URL"><br>
  <textarea name="textarea" rows="5" cols="20" placeholder="Description"></textarea><br>
  <input type="submit" value="Submit story">
</form>
</div>
